In [2]:
import  pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [4]:
data = pd.read_csv("faltoons.csv")
data

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [6]:
data.Weekdays.value_counts()

Female    287
Male      113
Name: Weekdays, dtype: int64

In [10]:
data.Weekend.value_counts()

Female    233
Male      167
Name: Weekend, dtype: int64

In [11]:
obs = np.array([[287,233],[113,167]])
obs

array([[287, 233],
       [113, 167]])

In [12]:
chi2_contingency(obs)

(15.434065934065934,
 8.54342267020237e-05,
 1,
 array([[260., 260.],
        [140., 140.]]))

In [13]:
#compare P_value with alpha